# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local
server/.env

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build folders
dist/
build/
.next/

# misc
coverage/